
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>タイトル</title>
</head>
<body>
	<main>
		<div class="header-box">
			<a th:href="@{/top}">
				<button type="button" class="b-size magin-l10">top</button>
			</a>
		    <a th:href="@{/logout}">
		      <input type="button" value="logout">
		    </a>
		</div>
		<div class="list-center">
			<a th:href="@{/register}">
				<button type="button" class="b-size">新規登録</button>
			</a>
		</div>
		
		<div th:each="questions : ${questionList}" th:object="${questions}" >
            <label>問題:</label>
            <label th:text="*{id}"></label>
            <input type="text" name="question" class="text-size" th:value="${questions.question}" readonly><br>
        <div th:each="answers, stat : ${answerList}">
        <div th:with="id1=${questions.id}, id2=${answers.questionsId}, answer=${answers.answer}">
	        <div th:if="${id1 == id2}">
				<label>答え:</label> 
				<label th:text="${stat.count}"></label>
				<input type="hidden" name="answerId" th:value="${answers.questionsId}"> 
				<input type="text" name="answer" th:value="${answers.answer}" class="text-size" readonly>
			</div>
		</div>
		</div>
				<div th:with="question_id=${questions.id}">
				<form th:action="@{/delete}" >
					<button type="submit">削除</button>
					<input type="hidden"  name="question" th:value="${questions.id}" readonly>
				</form>
				</div>
				

				<form th:action="@{/edit}" >
					<button type="submit">編集</button>
					<input type="hidden"  name="question" th:value="${questions.id}" readonly>
				</form>
	</div>
</main>
</body>
</html>