
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>タイトル</title>
</head>
<body>
	<main>
		<div class="header-box">
			<a href="top.jsp">
				<button type="button" class="b-size magin-l10">top</button>
			</a>
			<a href="logoutServlet">
				<button type="button" class="b-size magin-l10">logout</button>
			</a>
		</div>
		<div class="list-center">
			<a href="registerServlet">
				<button type="button" class="b-size">新規登録</button>
			</a>
		</div>
		
		<div th:each="questions : ${questionList}"  th:object="${questions}">
            <label>問題:</label>
            <label th:text="*{id}"></label>
            <input type="text" name="question" class="text-size" th:value="*{question}" readonly><br>
          
		<label>答え1:</label> 
		<input type="hidden" name="answerId" value="<%= answer.getQuestionsId() %>"> 
		<input type="text" name="answer" value="値" class="text-size" readonly>
		
		<form action="deleteSarvlet">
			<input type="hidden" name="questionId" value="<%= question.getId() %>">
			<input type="hidden" name="answerId" value="<%= answer.getQuestionsId() %>">
			<input type="hidden" name="answer" value="<%= answer.getAnswer() %>">
			<input type="hidden" name="question" value="<%= question.getQuestion() %>">
			<button type="submit">削除</button>
		</form>
		
		<form action="editServlet">
			<input type="hidden" name="questionId"
				value="<%= question.getId() %>"> <input type="hidden"
				name="answerId" value="<%= answer.getQuestionsId() %>"> <input
				type="hidden" name="answer" value="<%= answer.getAnswer() %>">
			<input type="hidden" name="question"
				value="<%= question.getQuestion() %>">
			<button type="submit">編集</button>
		</form>
		
		</div>
	</main>
</body>
</html>