<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="style.css">
<title>タイトル</title>
</head>
<body>
<main>


  <div class="login-center">
    <div class="login-box">
      <h2>login</h2>
      <form method="post" th:action="@{/sign_in}">
      <div class="login-form"> 
        name: <input type="text" name="name" size="30" maxlength="20">
      </div>
      <div class="login-form">
        pw: <input type="password" name="password" size="30" maxlength="20">
      </div>
      <div class="login-form">
        <input type="submit" value="Login">
      </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>