
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css" >
<script type="text/javascript" th:src="@{/js/demo.js}"></script>
<title>タイトル</title>
</head>
<body>
<main>
  <div class="header-box">
			<a th:href="@{/top}">
		      <input type="button" value="top">
			</a>
		    <a th:href="@{/logout}">
		      <input type="button" value="logout">
		    </a>
  </div>

  <div class="button-box">
    <div class="buttonsize-box">
 	<form th:action="@{/create}" th:object="${registerForm}">
      <div class="tyuou">
        <div class="question-box">
          <label class="valign">問題:</label>
          <textarea class="text-size text-size-h250" rows="10" cols="60" th:field="*{question}">ここに記入してください</textarea>
          <div id="answerlist">
            <label>答え:</label>
            <input type="text" th:field="*{answer}" class="text-size84">
            <input type="button" value="削除" >
          </div>
        </div>
      </div>
        <input type="submit" value="確認" >
        </form>
        	<a th:href="@{/list}">
		      <input type="button" value="戻る">
			</a>
         <a href="listServlet">
	        <button type="button" >追加</button>
	     </a>
<!-- 	         下記ボタンを押下した際のダイアログは、demo2.jsから取得しています。<br/>
    <input type="button" value="JavaScript呼出_demo2" onclick="demoTest2();" /> -->
    </div>
  </div>
</main>
</body>
</html>