
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css" >
<title>タイトル</title>
</head>
<body>
<main>
  <div class="header-box">
			<a th:href="@{/top}">
		      <input type="button" value="top">
			</a>
		    <a th:href="@{/logout}">
		      <input type="button" value="logout">
		    </a>
  </div>

<form action="newServlet">
  <div class="button-box">
    <div class="buttonsize-box">
      <div class="tyuou">
        <div class="question-box">
          <label class="valign">問題:</label>
          <textarea class="text-size text-size-h250" rows="10" cols="60" name="question">ここに記入してください</textarea>
          <p>
            <label>答え:</label>
            <input type="text" name="answer" value="選択肢" class="text-size84">
            <input type="button" value="削除" >
          </p>
        </div>
      </div>
      <div class="center">
        <input type="submit" value="確認" >
         <a href="listServlet">
	        <button type="button" >戻る</button>
	      </a>
         <a href="listServlet">
	        <button type="button" >追加</button>
	     </a>
      </div>
    </div>
  </div>
</form>
</main>
</body>
</html>