<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="style.css">
<title>タイトル</title>
</head>
<body>
<main>
  <div class="header-box">
    <a th:href="@{/logout}">
      <input type="button" value="logout">
    </a>
  </div>
  <div class="button-box">
    <div class="buttonsize-box">
      <div class="top-center">
          <a th:href="@{/list}">
	        <button type="button" class="button-size1">問題と答えを確認・登録する　＞</button>
	      </a>
      </div>
      <div class="top-center">
          <form  th:action="@{/test}" >
	        <button type="submit" class="button-size1">テストをする　＞</button>
	        <input type="hidden" th:name="userId" id="userId" th:value="${user_id}" class="button-size">
	        <input type="hidden" th:name="userName" id="userName" th:value="${user_name}" class="button-size">
	      </form>
      </div>
      <div class="top-center">
        <a th:href="@{/history}">
	       <button type="button" class="button-size1">過去の採点結果を見る　＞</button>
	    </a>
      </div>
    </div>
  </div>
</main>
</body>
</html>