<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="style.css">
<title>タイトル</title>
</head>
<body>
<main>
  <div class="header-box">
    <a th:href="@{/logout}">
      <input type="button" value="logout">
    </a>
  </div>
  <div class="button-box">
    <div class="buttonsize-box">
      <div class="top-center">
        <a th:href="@{/list}">
	        <button type="button" class="button-size1">問題と答えを確認・登録する　＞</button>
	      </a>
      </div>
      <div class="top-center">
        <input type="button" value="テストをする　＞" class="button-size">
      </div>
      <div class="top-center">
        <input type="button" value="過去の採点結果を見る　＞" class="button-size">
      </div>
    </div>
  </div>
</main>
</body>
</html>